/* Template para emplear en el desarrollo web empleando Bootstrap 
   7mo. TEL - 2020 ; Camada 1420 ; 16/06/2020 */

/* Links de interés:
 * Colores:
 https://www.site24x7.com/es/tools/selector-de-codigo-color.html
 https://encycolorpedia.es/ -> Aquí puedo encontrar valores de colores de marcas características.
 https://www.htmlcsscolor.com/hex/CCA43D
 https://paletton.com/
 https://colorhunt.co/

 * Fit de imagen en el carousel:
 https://www.w3schools.com/css/css3_object-fit.asp

 * Edición de imagenes:
 https://www.iloveimg.com/es
*/

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* :root Selecciona el elemento raíz del documento,
   <html> en el caso de HTML. La pseudo-clase :root 
   de CSS selecciona el elemento raíz de un árbol que representa el documento. 
   :root puede ser útil para declarar variables CSS globales.
   https://developer.mozilla.org/es/docs/Web/CSS/:root */

:root{
    --main-bg-color: rgb(113, 160, 55);
    --main-bg-color-a: rgba(113, 160, 55, 0.7);
    --icon-color: rgb(139, 174, 96);
    --ejemplo: #8bae60;
}

head, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Yanone Kaffeesatz";
    font-size: larger;
    color: rgb(0, 0, 0);
}

/* ------- Estilos para el Header ------- */
.main-header{
    background-color: var(--main-bg-color);
}

.main-header hr{
    border-color: var(--icon-color);
    border-width: medium;
    margin: 0;
}

.navbar-brand{
    font-family: "Parisienne";
    font-size: 200%;
}

/* ------ Estilos para el Carousel ------ */
.main-carousel{

}

.carousel-inner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.carousel-caption h3{
    font-size: 300%;
    font-family: "Parisienne";
    color: rgb(0, 0, 0);
}

.carousel-caption p{
    font-size: 175%;
    color: rgb(0, 0, 0);
}

/* ------ Estilos para el Welcome ------- */
.row{
    margin: 0;
}

.main-welcome{
    background-color: var(--main-bg-color-a);
}

.main-welcome h1{
    padding: 1.5rem;
    margin: 0;
}

.main-welcome hr{
    margin: 0 auto;
    border-width: 2px;
    border-color: var(--main-bg-color);
    width: 50%;
}

.main-welcome p{
    margin: 1rem;
}

.main-welcome i{
    color: var(--main-bg-color);
    font-size: xx-large;
    margin: 0.75em;
}

.main-welcome i:hover{
    color: var(--icon-color);
}

/*
.fa-bar-chart, .fa-stethoscope, .fa-credit-card{
    font-size: xx-large;
}*/

/* ------- Estilos para los cards ------- */
.main-cards{

}

.main-cards h1{
    padding: 1.5rem;
    margin: 0;
}

/* ------- Estilos para el footer ------- */
.main-footer{

}