/* Archivo CSS desarrollado por estudiantes de 1420 TEL */

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* Selector universal */
*{
  box-sizing: border-box;
  font-family: "Neucha";
  color: #777;  
}

/* Selector por palabra clave */ 
head, body{
  margin: 0;
  padding: 0;
}

/* --- I - Estilos de header --- */

.main-header{
  background-image: url(./imagenes/fondo_pcb.jpg);
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;    
}

.nav ul{
  margin: 0;
}

.nav li{
  display: inline;
}

.nav a{
  display: inline-block;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.nav a:hover{
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav{
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.main-nav li{
  padding: 0 5%;
}

.nombre{
  text-align: center;
  margin: 0.5em;    
  font-family: "Parisienne"; /* Fuente importada de google fonts, ver líneas 9 y 10 */
  font-weight: normal;  
}

.nombre-principal{
  font-size: 4em;
  color: white;
}

/* ------------------------------------ */

/* ----- II - Estilos de section ------ */

.content-section{
  margin: 1em;
}

/*  Doce - La propiedad max-width define el ancho máximo de un elemento. ¿Qué ocurre si el elemento
  tiene más contenido que el máximo especificado? Automáticamente se modifica el alto del elemento.
  ¿Qué ocurre si es menor? Esta propiedad no tiene efecto. En este caso aplicamos esta propiedad
  a la clase conteiner, es decir, afecto a toda la sección que definimos en el archivo html. 
  https://www.w3schools.com/cssref/pr_dim_max-width.asp */

.conteiner{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  font-size: larger;
}

/* Trece -  ¿Podría decir que hacemos aquí a partir de los analizado anteriormente? */

.section-header{
  font-family: "Parisienne"; /* Fuente importada de google fonts, ver líneas 9 y 10 */
  font-size: xx-large;
  color: #333;
}

/*  Catorce - Como analizamos en uno de los puntos anteriores la propiedad display define como es
  mostrado  
  un elemento en el display. En este caso el contenido de display es block, lo cual define que el 
  elemento comienza en una nueva línea, o un nuevo renglón, y ocupa todo el ancho que le sea
  permitido. https://www.w3schools.com/css/css_display_visibility.asp
  
  La propiedad border-radius define el radio de las esquinas de un elemento. Como la imagen que 
  seleccione es cuadrada (2000 pix * 2000 pix) al colocar el valor de 50% logramos que sea un círculo
  perfecto. https://www.w3schools.com/cssref/css3_pr_border-radius.asp */

.imagen-personal{
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;   
  border-radius: 50%;
}
/* ------------------------------------ */

/* --------------------------------------------------------------------------------------- */
/*  III - En esta parte del documento vamos a definir todo lo referido al estilo del 
    footer */

/* Quince - A partir de lo que se analizó en el punto 2, ¿puede describir que hacemos aquí? */
.main-footer{
  background-color: rgba(0, 0, 0, .6);
  background-image: url(./imagenes/fondo_pcb_abajo.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 20px;
}

/*  Dieciseis -  Un área del documento que contiene un flexbox es llamada contendedor flex. 
  Para crear un contenedor flex, establecemos la propiedad display de la clase contenedora como flex 
  o inline-flex. Tan pronto como hacemos esto, los hijos directos de este contenedor se vuelven ítems 
  flex. Como con todas las propiedades de CSS, se definen algunos valores iniciales, así que cuando 
  creemos un contenedor flex todos los ítems flex contenidos se comportarán de la siguiente manera 
  
  El resultado es que todos los ítems se alinearán en una solo fila, usando el tamaño del contenedor 
  como su tamaño en el eje principal. 
  Si hay más ítems de los que caben en el contenedor, estos no pasarán más abajo si no que sobrepasarán 
  el margen. 
  Si hay ítems más altos que otros, todos los ítems serán ajustados en el eje cruzado para alcanzar 
  al mayor.
  
  https://www.w3schools.com/css/css3_flexbox.asp
  https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Conceptos_Basicos_de_Flexbox */

.main-footer-conteiner{
  display: flex;
  align-items: center;
}

/*  Diecisiete - A partir de lo que se analizó en puntos anteriores, ¿puede describir que hacemos aquí? */

.main-footer-conteiner h3{
  color: white;
  font-weight: lighter;
  font-family: "Parisienne";
  font-size: xx-large;
}

/*   Dieciocho - La propiedad flex-grow de CSS especifica el factor de crecimiento de un elemento 
     flexible (que tiene asignado display:flex), en su dirección principal. El factor de 
     crecimiento especifica qué cantidad del espacio restante dentro del contenedor flexible, 
     debería ocupar el item en cuestión. */

.main-footer-conteiner ul{
  flex-grow: 1;
  text-align: end;
}

/*  Diecinueve - A partir de lo que se analizó en puntos anteriores, ¿puede describir que hacemos aquí? */

.footer-nav li{
  padding: 0 5%;
}

/* Veinte */
.footer-nav img{
  width: 50px;
}
